@using Store.Models.DTOs
@using Store.Models.Results
@model Store.Models.Results.IDataResult<SliderDTO>

@{
    ViewBag.Title = "Güncelle";

}
<!-- Basic Validation -->
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="card-inner">
                    <h4 class="card-inner-header">Slider Güncelle [@Model.Data.Title]</h4>
                    <small>Slider güncelleme formu.</small>
                    <div class="demo">
                        <form class="form-horizontal" id="form_validation" method="POST" action="~/Panel/Slider/Update">
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Başlık</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Title" placeholder="Ana Slider adı giriniz..." value="@Model.Data.Title" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Açıklama</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Description" placeholder="Kısa açıklama giriniz..." value="@Model.Data.Description" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Link</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Link" placeholder="Link giriniz..." value="@Model.Data.Title" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Fiyat (başlayan fiyatlarla)</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Price" placeholder="Fiyat (başlayan fiyatlarla) giriniz..." value="@Model.Data.Price" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Sıra</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Order" placeholder="Sıra giriniz..." value="@Model.Data.Order" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        @if (Model.Data.IsActive)
                                        {
                                            <input type="checkbox" id="checkbox_1" name="IsActive" value="true" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="checkbox_1" value="true" name="IsActive">
                                        }
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="Id" value="@Model.Data.PhotoUrl" />
                            <input type="hidden" name="Id" value="@Model.Data.Id" />
                            <button class="btn btn-primary waves-effect m-l-100" type="submit">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Validation -->
@section css {
    <!--THIS PAGE LEVEL CSS-->
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
}
@section scripts {
    <!--THIS PAGE LEVEL JS-->
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-steps/jquery.steps.js"></script>
    <script src="~/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/pages/forms/form-validation.js"></script>
}
