@using Store.Models.DTOs
@model Store.Models.Results.IDataResult<List<ProductDTO>>

@{
    ViewBag.Title = "List";

}
<div class="row clearfix">
    <div class="col-lg-3">
        <div class="widget style2 bg-green hover-zoom-effect">
            <div class="col-xs-4 widget-icon">
                <i class="material-icons">format_list_bulleted</i>
            </div>
            <div class="col-xs-8 widget-body text-right">
                <span> Ürün Sayısı </span>
                <h2 class="num count-to" data-from="0" data-to="@ViewBag.ProductCount.Data" data-speed="1000" data-fresh-interval="20">@ViewBag.ProductCount.Data</h2>
            </div>
        </div>
    </div>
</div>

<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    Ürün Listesi
                </h4>
                <small>Ürünler listelenir, düzenlenir. Silenen ve pasif ürünler listelenmez.</small>
            </div>
            <div class="body">
                <table class="table table-bordered table-striped table-hover basic-example dataTable">
                    <thead>
                        <tr>
                            <th>İşlem</th>
                            <th>Ürün</th>
                            <th>Id</th>
                            <th>Kod</th>
                            <th>Kategori</th>
                            <th>Stok</th>
                            <th>İndirimsiz Fiyat</th>
                            <th>İndirim</th>
                            <th>Fiyat</th>
                            <th>Seo Url</th>
                            <th>Açıklama</th>
                            <th>Öne Çıkan mı?</th>
                            <th>İndirimli mi?</th>
                            <th>Çok Satan mı?</th>
                            <th>Yeni mi?</th>
                            <th>Özel Teklif mi?</th>
                            <th>Özel Teklif Son Tarih</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>İşlem</th>
                            <th>Ürün</th>
                            <th>Id</th>
                            <th>Kod</th>
                            <th>Kategori</th>
                            <th>Stok</th>
                            <th>İndirimsiz Fiyat</th>
                            <th>İndirim</th>
                            <th>Fiyat</th>
                            <th>Seo Url</th>
                            <th>Açıklama</th>
                            <th>Öne Çıkan mı?</th>
                            <th>İndirimli mi?</th>
                            <th>Çok Satan mı?</th>
                            <th>Yeni mi?</th>
                            <th>Özel Teklif mi?</th>
                            <th>Özel Teklif Son Tarih</th>
                            <th>Durum</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Data.OrderByDescending(a=>a.Id))
                        {
                            <tr>
                                <th width="200px">
                                    <a class="btn btn-xs btn-primary" href="~/Panel/Product/PhotoUpload?id=@item.Id">Fotoğraf [@item.ProductPhotos.Where(a=>!a.IsDeleted).Count()]</a>
                                    <a class="btn btn-xs btn-warning" href="~/Panel/Product/Update?id=@item.Id">Düzenle</a>
                                    <a class="btn btn-xs btn-danger" href="~/Panel/Product/Delete?id=@item.Id">Sil</a>
                                </th>
                                <th><a href="javascript:void(0)">@item.Name</a></th>
                                <td>@item.Id</td>
                                <td>@item.Code</td>
                                <td>@item.Category?.ParentCategory?.Name/@item.Category?.Name</td>
                                <td>@item.Stock</td>
                                <td>@item.PriceWithoutDiscount</td>
                                <td>%@item.Discount</td>
                                <td>@item.Price</td>
                                <td>@item.Slug</td>
                                <td>@Html.Raw(item.Description)</td>
                                @if (item.IsFeatured)
                                {
                                    <td style="color:green">Evet</td>
                                }
                                else
                                {
                                    <td style="color:red">Hayır</td>
                                }
                                @if (item.IsDiscounted)
                                {
                                    <td style="color:green">Evet</td>
                                }
                                else
                                {
                                    <td style="color:red">Hayır</td>
                                }
                                @if (item.IsMostSelled)
                                {
                                    <td style="color:green">Evet</td>
                                }
                                else
                                {
                                    <td style="color:red">Hayır</td>
                                }
                                @if (item.IsNew)
                                {
                                    <td style="color:green">Evet</td>
                                }
                                else
                                {
                                    <td style="color:red">Hayır</td>
                                }
                                @if (item.IsSpecialOffer)
                                {
                                    <td style="color:green">Evet</td>
                                }
                                else
                                {
                                    <td style="color:red">Hayır</td>
                                }
                                @if (item.IsSpecialOffer)
                                {
                                    <td style="color:green">@item.SpecialOfferEndDate?</td>
                                }
                                else
                                {
                                    <td style="color:red">-</td>
                                }

                                @if (item.IsActive)
                                {
                                    <td style="color:green">Aktif</td>
                                }
                                else
                                {
                                    <td style="color:red">Pasif</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section css {
    <!--THIS PAGE LEVEL CSS-->
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" />
}
@section scripts {
    <!--THIS PAGE LEVEL JS-->
    <script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.keyTable.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.responsive.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/responsive.bootstrap.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.scroller.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/plugins/magnific-popup/jquery.magnific-popup-custom.js"></script>
}
