@using Store.Models.DTOs
@using Store.Models.Results
@{
    IDataResult<List<CategoryDTO>> Categories = ViewBag.Categories;
}
@model Store.Models.Results.IDataResult<ProductDTO>
@{
    ViewBag.Title = "Add";

}
<!-- Basic Validation -->
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="card-inner">
                    <h4 class="card-inner-header">Ürün Güncelle [@Model.Data.Name]</h4>
                    <small>Ürün güncelleme formu.</small>
                    <div class="demo">
                        <form class="form-horizontal" id="form_validation" method="POST" action="~/Panel/Product/Update">
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Ürün Adı</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Name" placeholder="Ürün adı giriniz..." required value="@Model.Data.Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Ürün Seo Url</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="SeoUrl" placeholder="Ürün Seo Url giriniz..." required value="@Model.Data.SeoUrl" />
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Ürün Kodu</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Code" placeholder="Ürün adı giriniz..." required value="@Model.Data.Code" />
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label for="skill_1">Kategori</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <select class="form-control" id="skill_1" name="CategoryId" required>
                                            @foreach (var item in Categories.Data.Where(a => a.ParentCategoryId != 0))
                                            {
                                                if (item.ParentCategoryId == Model.Data.CategoryId)
                                                {
                                                    <option value="@item.Id" selected>- @item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">- @item.Name</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Açıklama</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <textarea name="Description" cols="30" rows="4" class="form-control no-resize" required>@Model.Data.Description</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Stok</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Stock" placeholder="Stok giriniz..." required value="@Model.Data.Stock" />
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                    <label>Fiyat</label>
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Price" placeholder="Fiyat giriniz..." required value="@Model.Data.Price" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-4 col-xs-4 form-control-label">
                                </div>
                                <div class="col-md-11 col-xs-8 col-xs-8">
                                    <div class="form-group">

                                        <input type="checkbox" id="checkbox_1" name="IsActive" checked="@Model.Data.IsActive" value="true">
                                        <label for="checkbox_1">Aktif Mi? (Seçili olursa yayınlanır.)</label>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="Id" value="@Model.Data.Id" />
                            <button class="btn btn-primary waves-effect m-l-100" type="submit">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Validation -->
@section css {
    <!--THIS PAGE LEVEL CSS-->
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
}
@section scripts {
    <!--THIS PAGE LEVEL JS-->
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-steps/jquery.steps.js"></script>
    <script src="~/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/pages/forms/form-validation.js"></script>
}
